<% include _Header %>

    <% if(text!=false){%>

        <% if(text.flavor)
    {      
    %>

            <div class="alert alert-<%=clas %>">
                <%=text.flavor.message %>
            </div>
            <%
    }
    %>
                <% if(text.description)
    {      
    %>

                    <div class="alert alert-<%=clas %>">
                        <%=text.description.message %>
                    </div>
                    <%
    }
    %>
                        <% if(text.iq)
    {      
    %>

                            <div class="alert alert-<%=clas %>">
                                <%=text.iq.message %>
                            </div>
                            <%
    }
    %>
                                <% if(text.picture)
    {      
    %>

                                    <div class="alert alert-<%=clas %>">
                                        <%=text.picture.message %>
                                    </div>
                                    <%
    }
    %>
                                        <%}%>
                                            <%if(mensaje.length>0){%>
                                                <div class="alert alert-<%=clas %>">
                                                    <%=mensaje %>
                                                </div>
                                                <%}%>
                                                    <div class="row container">
                                                        <div class="col-md-12">
                                                            <form action="new" method="POST">
                                                                <div class="form-group">
                                                                    <label for="">Flavor</label>
                                                                    <input type="text" class="form-control" name="flavor">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Description</label>
                                                                    <input type="text" class="form-control" name="description">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">IQ</label>
                                                                    <input type="number" class="form-control" name="iq">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Picture URL</label>
                                                                    <input type="text" class="form-control" name="picture">
                                                                </div>
                                                                <button class="btn btn-primary">Agregar Cerebro</button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <% include _footer %>